<div class="b-w-full  b-flex b-font-body b-flex-col b-text-neutral-800 b-overflow-y-scroll b-scrollbar-hide b-h-full">
    <app-search></app-search>
    <div class="b-hidden lg:b-flex b-items-center b-justify-center b-my-4 b-space-x-3">
        <img src="/assets/icons/filter.png" class="b-h-10 b-w-10" alt="filter"/>
        <h2 class="b-font-bold b-text-center b-tracking-widest b-text-neutral-700 b-text-2xl">Filter</h2>
    </div>
    <ul class="b-space-y-5 b-mt-1 b-w-full b-flex b-flex-col b-items-center b-justify-center">
        <li *ngFor="let element of categories | keyvalue" class="b-w-full b-flex b-flex-col b-items-center b-justify-center">
            <div class="b-w-full b-text-md b-flex b-items-center b-justify-center b-font-semibold b-mb-4 b-py-1 b-border-t b-border-b b-border-neutral-400">
                <label [for]="element.key" class="b-mx-auto">{{element.key}}</label>
                <input type="checkbox" class="b-relative b-right-2" [id]="element.key" [name]="element.key" />
            </div>
            <div class="b-w-full b-flex b-flex-col b-items-end b-space-y-1">
                <div class="b-flex b-items-center b-w-11/12 b-text-sm" *ngFor="let sous of element.value">
                    <img src="/assets/icons/computer.png" class="b-h-6 b-w-6 b-mr-3" alt="truck categorie"/>
                    <label [for]="sous" class="b-mr-auto">{{sous}}</label>
                    <input type="checkbox" class="b-relative b-right-2"  [id]="sous" [name]="sous" />
                </div>
            </div>
        </li>
    </ul>
</div>
