<div class="b-font-body b-min-h-screen b-w-full b-flex b-flex-col b-justify-center b-items-center b-absolute b-top-0 b-left-0">
    <form (submit)="handleSubmit()" [ngClass]="type=='create' ? 'lg:b-w-7/12 xl:b-w-1/2 b-shadow-lg b-shadow-neutral-300 b-rounded-md b-min-h-screen b-mt-20' : '' " class="b-w-full b-flex b-flex-col lg:b-my-24 b-justify-center b-items-center b-relative b-py-12 b-px-10 b-bg-white">
        <h3 class='b-text-center b-text-2xl lg:b-text-3xl b-font-bold b-tracking-widest'>{{type}} Post</h3>
        <p *ngIf="type=='create'" class="b-text-stone-500 b-text-center b-text-sm md:b-text-md b-mt-2 b-w-full lg:b-w-7/12">Create your post and let it spread in our huge collection</p>
        <div class='b-flex b-flex-col b-justify-center b-items-center b-w-full b-mt-10 b-space-y-12'>
            <div class='b-flex b-flex-col b-items-start b-justify-center lg:b-w-4/6 b-w-full md:b-w-9/12'>
                <label for="title"  class='b-text-stone-500 b-relative b-cursor-text b-bottom-2 b-select-none b-translate-y-4 b-duration-150 b-delay-75 b-h-0 b-left-1'>Title</label>
                <input id="title" [(ngModel)]="title" name="title" type="text" (input)="handleChangeValueTitle()" (blur)="handleBlurInput($event)" (focus)="handleFocusInput($event)" class="b-border-b-2 b-border-red-300 b-p-1 b-w-full b-outline-none" />
                <p class="b-self-end b-h-0 b-overflow-visible b-text-neutral-800 b-relative b-right-1 b-text-sm">{{nbrTitle}}/20</p>
                <p *ngIf="!validTitle" class="b-text-red-600 b-mt-2 b-text-xs b-font-semibold">very long title</p>
            </div>
            <div class='b-flex b-flex-col b-items-start b-justify-center lg:b-w-4/6 b-w-full md:b-w-9/12'>
                <label for="description" class='b-text-stone-500 b-cursor-text b-relative b-bottom-2 b-select-none b-transition-all b-duration-150 b-delay-75 b-translate-y-4 b-h-0 b-left-1'>Description</label>
                <textarea [(ngModel)]="description" name="description" id="description" (input)="handleChangeValueDescription()" (blur)="handleBlurInput($event)" (focus)="handleFocusInput($event)" class="b-scrollbar-hide b-border-b-2 b-border-red-300 b-p-1 b-h-32 b-w-full b-outline-none b-resize-none"></textarea>
                <p class="b-self-end b-h-0 b-overflow-visible b-text-neutral-800 b-relative b-right-1 b-text-sm">{{nbrDesc}}/300</p>
                <p *ngIf="!validTitleDescription" class="b-text-red-600 b-mt-2 b-text-xs b-font-semibold">very long description</p>
            </div>
            <div *ngIf="type==='create'" class="lg:b-w-4/6 md:b-w-9/12 b-w-full b-flex b-flex-col b-item-center b-justify-center">
                <label for="general" class="b-text-sm b-mb-1 b-text-stone-700 ">Select your product categorie</label>
                <select (change)="handleChangeSelect()" id="general" name="generalType" [(ngModel)]="generalType"
                    class="b-w-full b-outline-none b-p-2 b-rounded-sm b-border-2 b-border-blue-400 b-text-neutral-600">
                    <option class="b-cursor-pointer" *ngFor="let type of generalTypeListe" [value]="type['type']">{{type['type']}}</option>
                </select>
            </div>
            <div *ngIf="showSelect && type==='create'" class="lg:b-w-4/6 md:b-w-9/12 b-w-full b-flex b-flex-col b-item-center b-justify-center">
                <label for="general" class="b-text-sm b-mb-1 b-text-stone-700 ">Select your product Type</label>
                <select id="general" name="specificType" [(ngModel)]="specificType"
                    class="b-w-full b-outline-none b-p-2 b-rounded-sm b-border-2 b-border-blue-400 b-text-neutral-600">
                    <option class="b-cursor-pointer" value="other">Other</option>
                    <option class="b-cursor-pointer" *ngFor="let type of specifiqueTypeListe" [value]="type">{{type}}</option>
                </select>
            </div>
            <!--files-->
            <div class="b-w-full lg:b-w-11/12 b-flex b-flex-wrap b-items-center b-justify-center lg:b-items-center lg:b-justify-around">
                <div class="b-w-full  md:b-w-2/6 b-mt-5">
                    <input type="file" id="postImage" name="image" (input)="handlePhotoChange($event)" class="b-hidden" />
                    <div class="">
                        <h5 class="b-text-green-500 b-text-sm">Not
                            required</h5>
                        <img *ngIf="photoExist" (click)="removePhoto()" src="/assets/icons/close.png"
                            class="b-w-6 b-h-6 b-ml-auto b-mr-3 b-relative b-top-8 b-cursor-pointer" alt="cancel image profil" />
                        <div
                            class="b-border-2 b-border-red-300 b-w-full b-h-60 lg:b-h-44 b-flex b-flex-col b-justify-center b-items-center">
                            <label for="postImage" [ngStyle]="styles" class="b-h-20 b-w-20 lg:b-w-14 lg:b-h-14">
                                <img class="b-h-full b-w-full b-cursor-pointer" [src]="placeHolderImage" alt="add photo of profile" />
                            </label>
                        </div>
                        <p *ngIf="typeNotSupported" class="b-w-full b-text-sm b-text-yellow-500">Type Of Image not Supported</p>
                    </div>
                </div>
            </div>
            <div class="b-flex b-w-full b-justify-center b-items-center lg:b-space-x-7">
                <h3 class="b-text-stone-700 lg:b-flex b-hidden b-text-lg">objective : </h3>
                <div class="b-flex b-text-blue-600 b-space-x-2 b-justify-left b-items-center b-text-md lg:b-mr-0 b-mr-3">
                    <label for="help" class="b-cursor-pointer b-whitespace-nowrap b-text-sm lg:b-text-base">Asking for Help</label>
                    <input type="radio" [(ngModel)]="objectif" value="help" name="objectif" id="help">
                </div>
                <div class="b-flex b-text-green-500 b-space-x-2 b-justify-left b-items-center b-text-md lg:b-mr-0 b-ml-3">
                    <label for="advice" class="b-cursor-pointer b-whitespace-nowrap b-text-sm lg:b-text-base">Giving Advice</label>
                    <input type="radio" [(ngModel)]="objectif" value="advice" name="objectif" id="advice">
                </div>
            </div>
            <app-loader [show]="isLoading" [border]="'6px'" [size]="'50px'"></app-loader>
            <div *ngIf="!isLoading" class='b-w-full md:b-w-4/6 lg:b-w-4/6 b-flex b-items-center b-justify-end'>
                <button [disabled]="!validTitle || !validTitleDescription" [ngClass]="!validTitle || !validTitleDescription ? 'b-opacity-40' : '' " class="lg:b-relative lg:b-w-auto b-w-full hover:b-bg-white hover:b-text-red-400 b-transition-colors b-duration-200 b-delay-100 
            b-shadow-lg b-shadow-neutral-100 hover:b-shadow-none b-border-2 b-border-red-400 b-bg-red-400 b-px-12 b-py-2 b-rounded-sm
             b-text-white">{{type}}</button>
            </div>
        </div>
    </form>
</div>