<div class="b-w-full b-hidden lg:b-flex b-flex-col b-items-center b-font-body b-text-md b-justify-center b-py-10 b-px-8 b-bg-white b-shadow-md b-shadow-neutral-200">
    <h3 class="b-text-2xl b-text-center b-text-neutral-800 b-font-bold b-mb-3">Access +100.000 worth Posts and easly Buy your product </h3>
    <h4 class="b-text-center b-mb-12 b-text-sm b-text-stone-400">knowing the experience of people who already use a product can help you make the right decision</h4>
    <div class="b-w-full">
        <div class="b-w-full b-flex b-items-center b-justify-center">
            <input type="search"
                class="b-ph-neutral-800 b-ph-opacity-70 b-w-full b-outline-none b-bg-red-200/10 b-shadow-sm b-h-12 b-px-3 b-border-2 b-border-transparent"
                name="search" placeholder="Search Name , Type of product" />
            <div
                class="b-bg-red-400/95 hover:b-bg-red-500/95 b-delay-75 b-duration-150 b-rounded-r-sm b-cursor-pointer b-flex-none b-w-12 b-h-12 b-flex b-items-center b-justify-center">
                <img src="/assets/icons/search.png" class="b-h-8 b-w-8" alt="search" />
            </div>
        </div>
        <div class="b-h-96 b-hidden b-w-full b-overflow-y-scroll b-border-2 b-mt-1 b-border-black">
            <!--Search result-->
        </div>
    </div>
</div>