<div class="b-w-full b-flex b-items-center b-justify-center">
    <input type="search"
        class="b-ph-opacity-70 b-ph-slate-500 b-w-full b-outline-none b-bg-stone-100 b-shadow-sm b-h-12 b-px-3 b-border-2 b-border-transparent"
        name="search" placeholder="Search Name , Type of product" />
    <div
        class="b-bg-blue-400/95 hover:b-bg-blue-500/95 b-delay-75 b-duration-150 b-rounded-r-sm b-cursor-pointer b-flex-none b-w-12 b-h-12 b-flex b-items-center b-justify-center">
        <img src="/assets/icons/search.png" class="b-h-8 b-w-8" alt="search" />
    </div>
</div>