<div class="b-flex b-items-center b-justify-center">
    <form
        class="b-ml-auto b-min-h-screen b-flex b-flex-col b-justify-center 2xl:b-space-y-20 lg:b-space-y-12 b-space-y-14 b-items-center lg:b-w-7/12 b-w-full b-font-body b-my-10">
        <h4 class="b-text-3xl b-font-bold 2xl:b-text-6xl">Log in</h4>
        <p class="b-text-sm b-w-8/12 lg:b-w-full 2xl:b-text-2xl b-text-center b-text-stone-400 b-relative b-bottom-5">Enter
            your
            Username and Password to join advices world</p>
        <div class="b-flex b-flex-col lg:b-w-7/12 b-w-10/12 md:b-w-8/12">
            <label for="email" class="b-text-stone-600 b-select-none b-h-0 b-cursor-text b-translate-y-4 b-relative b-left-1 b-transition-all b-duration-200">Username</label>
            <input id="email" (focus)="handleFocusInput($event)" (blur)="handleBlurInput($event)" type="text" class="b-border-2 b-indent-1 b-outline-none b-py-3 b-border-stone-400 b-text-lg b-rounded-sm" />
        </div>
        <div class="b-flex b-flex-col lg:b-w-7/12 b-w-10/12 md:b-w-8/12">
            <label for="pwd" class="b-text-stone-600 b-h-0 b-select-none b-cursor-text b-translate-y-4 b-relative b-left-1 b-transition-all b-duration-200">Password</label>
            <input id="pwd" type="password" (focus)="handleFocusInput($event)" (blur)="handleBlurInput($event)" class="b-border-2 b-indent-1 b-outline-none b-py-3  b-border-stone-400 b-text-lg b-rounded-sm" />
        </div>
        
        <!--DISPLAY WHEN PWD AND EMAIL INVALID WITH BOOLEAN VARIABLE-->
        <div class="b-flex b-items-center lg:b-w-7/12 md:b-w-8/12 b-w-10/12">
            <img src="./assets/icons/cross.png" class="b-w-4 b-h-4 b-mr-3" alt="exception message" />
            <p class="b-text-xs 2xl:b-text-lg b-select-none b-text-red-500 b-font-semibold b-tracking-widest b-w-full">
                invalid address and password conbining
            </p>
        </div>
        <button class="b-border-2 b-border-blue-600 b-rounded-sm b-bg-blue-600 2xl:b-py-3 b-py-2 b-px-7
             b-text-white b-text-lg 2xl:b-text-2xl lg:b-w-7/12 md:b-w-8/12 b-w-10/12 hover:b-bg-white
              hover:b-text-blue-600 b-transition-all b-duration-200 b-delay-100">Log in</button>
        <div class="b-w-full b-flex b-justify-center b-items-center b-bg-stone-200">
            <p class="b-text-md b-border-0 b-py-3 b-text-center 2xl:b-text-3xl b-w-full b-z-0">Don't have an Account ?
                <a routerLink="/sign" class="b-text-blue-600 b-cursor hover:b-underline b-underline-offset-1 b-underline-blue-600">Sign</a>
            </p>
        </div>
    </form>
    <app-advertise></app-advertise>
</div>