<div class="b-flex b-justify-around">
        <div style="top: 64px;" class="categorieContainer b-hidden lg:b-flex b-py-1 b-left-px b-shadow-lg b-border b-fixed b-left-0 b-w-1/5 b-bg-white">
            <app-categorie></app-categorie>
        </div>
    <div class="b-my-16 b-min-h-screen b-mt-20 b-mx-auto b-w-full lg:b-w-2/5 md:b-w-4/5 b-flex b-flex-col">
        <div class="b-flex b-flex-col b-justify-center b-items-center b-w-11/12 b-mx-auto">
            <h3 class="b-text-2xl b-mt-10 b-text-center b-text-neutral-800 b-font-bold b-mb-3">Access +100.000 worth Posts and easly Buy
                your product </h3>
            <h4 class="b-text-center b-text-md b-text-stone-500 b-w-10/12">knowing the experience of people who already use a product
                can help you to make the right decision</h4>
        </div>
        <app-post-cards [usersData]="usersData" [loading]="loadingForPosts"></app-post-cards>
    </div>
</div>