<div class="b-h-screen b-font-body">
    <div style="height:calc(100vh - 64px);" class="b-w-5/12 b-fixed b-top-16 b-overflow-y-scroll b-scrollbar-hide b-left-0 b-bg-neutral-800 b-shadow-lg b-shadow-neutral-500">
        <h2 class="b-text-2xl b-font-bold b-text-white b-mt-6 b-text-center b-mb-10">Manage Your Posts</h2>
        <div class="b-flex b-w-full b-items-center ">
            
            <select (change)="handleFilter()" [(ngModel)]="filter" class="b-border-2 b-ml-auto b-outline-none b-shadow-sm b-mr-5 b-border-blue-500 b-h-8 b-bg-blue-500 b-text-white b-shadow-stone-500 b-rounded-sm">
                <option class="b-bg-white b-text-black " value="alphaD">Alphabet (decreasing)</option>
                <option class="b-bg-white b-text-black" value="alphaC">Alphabet (crescent)</option>
                <option class="b-bg-white b-text-black" value="dateC">Date (crescent)</option>
                <option class="b-bg-white b-text-black" value="dateD">Date (decreasing)</option>
            </select>
        </div>
        <div class="b-w-full b-mt-14 b-flex b-flex-col b-pb-5 b-items-center b-justify-center b-space-y-7">
            <h4 *ngIf="!posts.length" class="b-font-medium b-text-white b-relative b-top-12 b-text-xl" >No Posts</h4>
            <div *ngFor="let post of posts" class="b-w-11/12 b-flex b-space-x-2 b-border-0 b-shadow-md b-rounded-md b-bg-white">
                <div class="b-w-3/12 b-h-28">
                    <img *ngIf="post.imagePost!=''" class="b-h-28 b-shadow-md b-w-28 b-rounded-tl-md b-rounded-bl-md" [src]="'assets/'+post.imagePost" alt="darius" />
                </div>
                <div class="b-w-6/12 b-mb-1 b-mt-2">
                    <h2 class="b-text-md b-font-bold">{{post.titre}}</h2>
                    <p class="b-text-sm b-h-10 b-overflow-hidden b-break-words">{{post.text}}</p>
                    <div class="b-flex b-flex-wrap b-items-center b-space-x-2 b-mt-3">
                        <p class="b-text-sm">{{post.typeGeneral}}</p>
                        <div *ngIf="post.typeGeneral!='other'" class="b-w-px b-h-5 b-bg-stone-400"></div>
                        <div *ngIf="post.typeGeneral!='other'" class="b-flex b-items-center">
                            <img src="/assets/icons/mouse.png" class="b-w-5 b-h-5" alt="mouse">
                            <p class="b-text-sm">{{post.typeSpecifique}}</p>
                        </div>
                        <div class="b-w-px b-h-5 b-bg-stone-400"></div>
                        <p [ngClass]="post.objectif ==='help' ? 'b-text-blue-500' : 'b-text-green-500' " class="b-text-sm">{{post.objectif}}</p>
                    </div>
                </div>
                <!--btns-->
                <div class="b-flex b-mt-2 b-space-y-2 b-flex-col">
                    <button (click)="selectPost(post)"
                        class=" b-ml-auto b-w-20 b-px-1 b-py-1 b-border-2 b-rounded-sm b-text-white b-delay-75 b-duration-150 hover:b-bg-green-500 b-border-transparent b-flex b-items-center b-justify-center b-space-x-1 b-bg-green-400">
                        <img src="/assets/icons/bin.png" class="b-w-5 b-h-5" />
                        <p class="b-text-sm">Change</p>
                    </button>
                    <button (click)="handleDeletePost(post.idPost)"
                        class=" b-ml-auto b-w-20 b-px-1 b-py-1 b-border-2 b-rounded-sm b-text-white b-delay-75 b-duration-150 hover:b-bg-red-500 b-border-transparent b-flex b-items-center b-justify-center b-space-x-1 b-bg-red-400">
                        <img src="/assets/icons/editing.png" class="b-w-5 b-h-5" />
                        <p class="b-text-sm">Delete</p>
                    </button>
                    <p class="b-text-xs b-w-full b-text-right">{{changeDate(post.dateCreate)}}</p>
                </div>
            </div>
        </div>
    </div>
    <div style="height:calc(100vh - 64px);" class="b-w-7/12 b-fixed b-overflow-y-scroll b-bg-white b-top-16 b-right-0">
        <app-create-post *ngIf="showCreate" [currentData]="(currentData)"></app-create-post>
    </div>
</div>