<div class="b-z-0 lg:b-flex b-flex-col b-justify-around b-items-center b-hidden b-w-5/12 b-shadow-lg b-shadow-neutral-800 b-rounded-tr-lg b-rounded-br-lg b-h-screen b-fixed b-top-0 b-left-0 b-bg-neutral-900">
  <a routerLink="" class="b-cursor-pointer">
    <h1 class="b-text-white b-font-bold b-text-5xl b-font-title b-tracking-widest">
      Yenjah?<span class="b-text-blue-500">.tn</span>
    </h1>
  </a>
  <p class="b-text-white b-font-body b-text-left b-text-xl b-w-11/12 b-leading-loose">
    Need help on product or you can help others choose good products,<br />
    do not hesitate to create your account and navigate the commercial world
    ,<br />
    and become a pro in your field.
  </p>
</div>
